<footer class="page-footer size-font-sm">
  <div class="page-footer-container container">
    <div class="stack gap--1">
      <p>&copy; 2024 <b>{{ site.name }}</b> | Hosted on <i class="fa-brands fa-github" title="GitHub Pages"></i></p>
      <p class="footer-link-font"><a href="/privacyPolicy/" target="_blank">Privacy Policy</a> | <a href="/privacyPolicy/#cookies" target="_blank">Cookie Policy</a> | <a href="/commentPolicy/" target="_blank">Comment Policy</a>  | <a href="/feed.xml" target="_blank">RSS Feed</a> | <a href="/contact/" target="_blank">Contact</a></p>
    </div>
  </div>
</footer>