@use "../functions";
@use "../mixins";

.page-footer {
  @include mixins.theme-light {
    --color-footer-bg: white;
    --color-footer-text: black;
    --color-footer-border: hsl(0deg 0% 80%); // Light grey border
  }

  @include mixins.theme-dark {
    --color-footer-bg: black;
    --color-footer-text: white;
    --color-footer-border: hsl(0deg 0% 80%); // Light grey border for dark theme
  }

  background-color: var(--color-footer-bg);
  color: var(--color-footer-text);
  text-align: center;
  padding-block: functions.spacing("5");
  accent-color: currentcolor;
  border-top: 1px solid var(--color-footer-border); // Thin horizontal line at the top

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: functions.spacing("-1");
  }

  &-end {
    align-items: center;
  }

  &-socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: functions.spacing("0");
  }

  @include mixins.mobile-lg {
    padding-block: functions.spacing("5");
  }

  @include mixins.tablet-sm {
    text-align: center; // Ensure text is centered on larger screens

    &-container {
      align-items: center; // Center align items in container
      flex-direction: column; // Keep flex direction column
      justify-content: center; // Center justify content
    }

    &-end {
      align-items: center; // Center align items
    }
  }

  h2 {
    color: inherit;
  }

  .footer-link-font {
    font-size: 1rem;
  }
}