@use "../functions";
@use "../mixins";

.post {
  counter-reset: footnotes;

  &-title {
    text-wrap: pretty;
    margin-bottom: functions.spacing("-2");
  }

  &-subtitle {
    text-wrap: pretty;
    margin-bottom: functions.spacing("-2");
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4em;
  }

  &-date {
    color: var(--color-text-soft);
    margin-bottom: functions.spacing("-3");
    @include mixins.font($size: "sm");

    dt,
    dd {
      display: inline-block;
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    gap: functions.spacing("-3") functions.spacing("-2");
  }

  &-tag {
    color: var(--color-text-soft);

    &::before {
      content: "#";
      user-select: none;
    }
  }
}

.draft-note {
  border: 1px solid #d1d5da;
  // background-color: #f6f8fa;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 50px;
  font-size: 16px; /* Increase the font size for the content text */
}

.draft-note-heading {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px; /* Increase the font size for the heading */
  font-weight: 600;
}

.draft-note p {
  margin: 0;
  font-size: 16px; /* Increase the font size for the content text */
}

.references {
  font-size: 0.875rem; /* Adjust the font size as needed */
}

.references h2 {
  font-size: 1.2rem; /* Adjust the font size for the heading */
}

.references ol {
  list-style: none;
  padding: 0;
}

.references li {
  margin-bottom: 0.5rem;
}

.back-to-note {
  text-decoration: none;
  font-size: 0.875rem;
}

a sup {
  font-size: 0.875rem; /* Adjust the font size of the superscript as needed */
}

/* Share share icons - Start */
:root {
  --icon-color: #666666; /* Default icon color */
  --icon-hover-color: #333333; /* Icon color on hover */
  --copy-message-bg: #444; /* Background color for the copy message */
  --copy-message-color: #fff; /* Text color for the copy message */
}

[data-theme='dark'] {
  --icon-color: #dddddd; /* Icon color in dark mode */
  --icon-hover-color: #ffffff; /* Icon hover color in dark mode */
  --copy-message-bg: #222; /* Background color for the copy message in dark mode */
  --copy-message-color: #fff; /* Text color for the copy message in dark mode */
}

.social-share {
  display: flex;
  align-items: center;
  gap: 20px; // Increased gap between icons
  margin-top: 1rem;
  margin-bottom: 2rem; 
}

.social-share p {
  margin: 0;
}

.social-icon {
  text-decoration: none;
  font-size: 1.25rem; // Adjust icon size
  color: var(--icon-color);
}

.social-icon:hover {
  color: var(--icon-hover-color);
}

.copy-message {
  visibility: hidden;
  margin-left: 10px;
  color: var(--copy-message-color);
  background-color: var(--copy-message-bg);;
  font-size: 0.875rem; // Adjust font size
  padding: 5px 10px; /* Add padding for space around the text */
  border-radius: 4px; /* Optional: Add rounded corners */
  transition: visibility 0.3s ease, opacity 0.3s ease; /* Smooth transition for visibility and opacity */
}

/* Show the Copied to Clipboard message */
.show-copy-message {
  visibility: visible;
  opacity: 1;
}
/* Share share icons - End */

/* Use for applying vertical space between lines */
.spacer {
  margin-top: 20px; /* Adjust the value as needed */
  margin-bottom: 20px; /* Adjust the value as needed */
}
