.resume {
  .resume-title {
     text-align: center;
     margin-bottom: 2rem;
     line-height: 1.2;

     h1 {
        font-size: 2.5rem;
        // margin-bottom: 0.5rem;
     }

     h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
     }
  }

  .resume-download {
     margin-bottom: 1rem;
     a {
        display: flex;
        align-items: center;
        font-size: 1rem;
        color: var(--link-color);
        text-decoration: none;

        i {
           margin-right: 5px;
        }

        &:hover {
           text-decoration: underline;
        }
     }
  }

  header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 2rem;

     .resume-header-content {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .resume-header-text {
           p {
              margin: 0.25rem 0;
              font-size: 1rem; /* Adjust font size here */

              a {
                 color: var(--link-color);
                 text-decoration: none;

                 &:hover {
                    text-decoration: underline;
                 }
              }
           }
        }
     }

     .resume-header-photo {
        flex: 0 0 auto;

        img {
           width: 200px;
           height: 200px;
           border-radius: 5%;
           object-fit: cover;
        }
     }
  }

  section {

     h1,
     h2,
     h3,
     h4 {
        margin-bottom: 1rem;
     }

     p {
        margin-bottom: 1rem;
     }

     ul {
        list-style-type: disc;
        margin: 1rem 0;
        padding-left: 40px;

        li {
           margin-bottom: 0.5rem;
        }
     }

     a {
        color: var(--link-color);
        text-decoration: none;

        &:hover {
           text-decoration: underline;
        }
     }
  }
}