@use "../functions";
@use "../mixins";

#theme-picker {
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;

  #theme-icon {
    font-size: 1.5rem; // Adjust icon size as needed
    width: 24px; // Set a fixed width to prevent horizontal movement
    height: 24px; // Set a fixed height to keep the container size consistent
    transition: color 0.3s ease;

    // Light mode styles
    color: #fff;

    // Dark mode styles
    [data-theme='dark'] & {
      color: #fff;
    }
  }
}