@use "../mixins";

.hero {
  > * {
    // max-width: 42ch;
    max-width: 52ch;
  }

  &-title {
    @include mixins.font($size: "4xl");
  }

  &-subtitle {
    font-size: 1.3rem;
    margin-bottom: 10px;
    @include mixins.font($leading: "sm");
  }
}
